// Auto genetated file
[
{
"name" : "key_exchange - x86_16" ,
"files" : "all" ,
"machdep" : "x86_16" ,
"raw_options" : { "-val-timeout" : 3600 , "-no-results" : "true" } ,
"main" : "key_exchange" 
}
,
{
"name" : "key_exchange - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-val-timeout" : 3600 , "-no-results" : "true" } ,
"main" : "key_exchange" 
}
,
{
"name" : "key_exchange - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"raw_options" : { "-val-timeout" : 3600 , "-no-results" : "true" } ,
"main" : "key_exchange" 
}
,
{
"name" : "sign_check - x86_16" ,
"files" : "all" ,
"machdep" : "x86_16" ,
"raw_options" : { "-val-timeout" : 3600 , "-no-results" : "true" } ,
"main" : "sign_check" 
}
,
{
"name" : "sign_check - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-val-timeout" : 3600 , "-no-results" : "true" } ,
"main" : "sign_check" 
}
,
{
"name" : "sign_check - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"raw_options" : { "-val-timeout" : 3600 , "-no-results" : "true" } ,
"main" : "sign_check" 
}
,
{
"name" : "x25519 - x86_16" ,
"files" : "all" ,
"machdep" : "x86_16" ,
"raw_options" : { "-val-timeout" : 3600 , "-no-results" : "true" } ,
"main" : "x25519" 
}
,
{
"name" : "x25519 - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-val-timeout" : 3600 , "-no-results" : "true" } ,
"main" : "x25519" 
}
,
{
"name" : "x25519 - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"raw_options" : { "-val-timeout" : 3600 , "-no-results" : "true" } ,
"main" : "x25519" 
}
,
{
"name" : "blake2b - x86_16" ,
"files" : "all" ,
"machdep" : "x86_16" ,
"raw_options" : { "-val-timeout" : 3600 , "-no-results" : "true" } ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - sparc_64" ,
"files" : "all" ,
"machdep" : "sparc_64" ,
"raw_options" : { "-val-timeout" : 3600 , "-no-results" : "true" } ,
"main" : "blake2b" 
}
,
{
"name" : "blake2b - sparc_32" ,
"files" : "all" ,
"machdep" : "sparc_32" ,
"raw_options" : { "-val-timeout" : 3600 , "-no-results" : "true" } ,
"main" : "blake2b" 
}
]
